# ----------------------------------------------------------------------------------------------------
# Template to Deploy Azure resources
# ----------------------------------------------------------------------------------------------------
parameters: 
  environment:  'DEV'
  azureSubscription: ''

# ----------------------------------------------------------------------------------------------------
jobs:
- deployment: DeployResources
  displayName: Initialize Deploy Resources
  environment: ${{ parameters.environment }}

- job: DeployResourcesJob
  displayName: Deploy Resources
  variables:
  - name: environment
    value: ${{ parameters.environment }}
  - name: environmentLower
    value: ${{ lower(parameters.environment) }}
  - name: templateFile
    value: '$(Pipeline.Workspace)/s/Infrastructure/bicep/main.bicep'

  steps:
  - bash: |
      resourceGroupName=$(echo "rg_logic_demo_$(environment)" | tr '[:upper:]' '[:lower:]')
      echo "##vso[task.setvariable variable=resourceGroupName]$resourceGroupName"
    displayName: 'Create Variables'

  - bash: |
      echo "azureSubscription=$(azureSubscription)"
      echo "resourceGroupName=$(resourceGroupName)"
      echo "region=$(region)"
      echo "environment=$(environment)"
      echo "environmentLower=$(environmentLower)"
      echo "appPrefix=$(appPrefix)"
      echo "templateFile=$(templateFile)"
      tree $(Pipeline.Workspace)
    displayName: 'Display Variables'
    continueOnError: true

  - task: AzureCLI@2
    displayName: 'Run Deploy Scripts'
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az group create --name $(resourceGroupName) --location $(region)
        az deployment group create --resource-group $(resourceGroupName) --template-file $(templateFile) --parameters appPrefix=$(appPrefix) environment=$(environmentLower) > outputs.json
